@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Pacifico&display=swap');

body {
background: rgb(214, 226, 229);
font-family: 'Noto Sans JP', sans-serif;
}

header {
    margin: auto;
    margin-top: 25px;
    width: 55%;
    text-align: center;
    justify-content: center;
    border: 2px black solid;
    border-radius: 25px;
    padding: 20px; 
    height: 175px;
    background: #b2888c;
    box-shadow: gray 1px 2px 20px 10px;
}
h1 {
    font-family: 'Pacifico', cursive;
    font-size: 50px;
}

#main-section, div {
    margin: auto;
    margin-bottom: 100px;
    width: 70%;
    text-align: center;
}

#image-section {
    margin: 30px auto;
    text-align: center;
 }