


body {
    background: rgb(214, 226, 229);

}

header {
    margin: 70px auto;
    text-align: center;

}

a {
    width: 100px;
    height: 30px;
    padding: 20px;
    border-radius: 30px;
    background: lightskyblue;
    transition: .6s;
    box-shadow: 1px 2px 3px 4px;
    font-size: 25px;
}

a:hover{
    background: lime;
}

header h1 {
    padding-top: 50px;
}

#main-section {
    margin: 70px auto;
    width: 85%;
    text-align: center;
}

ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

li {
    margin: 20px;
    border: 1px solid black;
    padding: 40px;
    background: lightskyblue;
    border-radius: 30px;
    box-shadow: 1px 2px 8px 1px;

}


img {
    width: 200px;
    height: 200px;
    border-radius: 20px;
}


p {
    margin: auto;
    width: 200px;
    text-align: center;
    font-size: 25px;
}