

#header {
    margin: auto;
    width: 70%;
    text-align: center;
    background: red;
    position: relative;
    z-index: 2;
}

ul {
    margin: auto;
   list-style: none;
}

#reel-section {
    margin: auto;
    width: 410px;
    text-align: center;
    display: grid;
}

#reel-zone {
    margin: auto;
    /* width: 80%; */
    text-align: center;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    z-index: 1;
    position: absolute;
    top: -500px;
}


/* img {
    width: 100px;
    height: 100px;
} */


#imgli {
    animation-name: firstSpin;
    animation-duration: 3s;
    animation-fill-mode: forwards;

}

.imgli {
    animation-name: newSpin;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    /* top: -700px; */
}

@keyframes firstSpin {
    from{
        transform: translateY(0);
    }
    to {
        transform: translateY(700px);
    }
}

@keyframes newSpin {
    from{
        transform: translateY(-700px);
    }
    to {
        transform: translateY(0);
    }
}
    

 .slotimg {
    width: 100px;
    height: 100px;
}