@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Pacifico&display=swap');

body {
    /* background: rgb(214, 226, 229); */
    background: white;
    font-family: 'Noto Sans JP', sans-serif;
    height: 1000px;
    width: 1200px;
    min-width: 1000px;
    text-align: center;

}

#slot-machine-div {
    text-align: center;
    /* background: rgb(214, 226, 229); */
    min-width: 1000px;

}

#slot-machine-image {
    position: relative;
    height: 800px;
    width: 800px;
    z-index: 3;
    left: 20px;
    bottom: 10px;

}


#header {
    margin: 30px auto;
    width: 50%;
    text-align: center;
    position: relative;
    border-radius: 30px;
    background: lightskyblue;
    box-shadow: 1px 2px 10px 4px;
    padding: 1px;
    z-index: 2;

}

ul {
    margin: auto;
   list-style: none;
   min-width: 1000px;


}

#reel-section {
    margin: auto;
    width: 445px;
    text-align: center;
    display: grid;


}

#reel-zone {
    margin: auto;
    /* width: 80%; */
    text-align: center;
    display: grid;
    grid-template-columns: 80px 80px 80px;
    z-index: 1;
    position: relative;
    top: -1330px;
    left: 72px;
    min-width: 1000px;
}

button {
    background: lightskyblue;
    width: 30px;
    height: 30px;
    position: relative;
    border: 1px solid black;
    top: 386px;
    left: 8px;
    z-index: 4;
    border-radius: 50%;
    cursor: pointer;
    transition: .3s;
    font-weight: bold;
    font-size: 8px;
    text-align: center;

    
}

button:hover {
    background: lime;
}

#imgli {
    animation-name: firstSpin;
    animation-duration: 3s;
    animation-fill-mode: forwards;


}

.imgli {
    animation-name: newSpin;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    /* top: -700px; */
}


.slotimg {
    width: 49px;
    height: 49px;
    border-radius: 50%;
}


@keyframes firstSpin {
    from{
        transform: translateY(0);
    }
    to {
        transform: translateY(700px);
    }
}

@keyframes newSpin {
    from{
        transform: translateY(-700px);
    }
    to {
        transform: translateY(0);
    }
}


#result-description {
    position: relative;
    z-index: 4;
    top: 170px;
    left: 6px;
    font-size: 22px;
}

#spin-message {
    position: relative;
    z-index: 4;
    bottom: 906px;
    left: 8px;
    color: red;
    font-size: 15px;
}
    

